*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navTop{
    display: flex;
    justify-content: right ;
    align-items: center;
    background-color: #373737;
    padding: 0 24pc;
    color: #FFFFFF;
}

.listaTopNav{
    display: flex;
    /* gap: 20px; */
}

.listaTopNav li{
    padding: 10px;
}

#entradas{
    background-color: #E7D800;
    color: black;
}
#ES{
    border: solid 1px white;
}

#entradas:hover{
    background-color: aqua;
}

.navBottom{
    display: flex;
    padding: 10px 24pc;
    align-items: center;
    justify-content: space-between;
}

.containerListas{
    display: flex;
}
.centrarLista{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.listaBottomNav{
    display: flex;
    gap: 20px;
}

.Negrilla{
    font-weight: bold;
    color: #373737;
    font-size: 19px;
}

.gris{
    font-size: 13px;
    color: #999999;
}

.listaBottomNav li{
    padding: 5px 15px;
}


